.cursor {
  width: 4px;
  height: 4px;
  background-color: #aa3fa9;
  border-radius: 10px;
  position: absolute;
  z-index: 11;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.07, 1.18, 1, 1);
}
.cursor-follower {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 999;

  border: 2px solid #aa3fa9;

  border-radius: 100%;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.07, 1.18, 1, 1);
}
